:root {
    --background: #121215;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --accent-color: #808080;
    --text-color: #eaeaea;
    --subtext-color: #5a5a5a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 16pt;
    color: var(--text-color);
    background-color: var(--background);
}

header {
    margin-top: 60px;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 15px gray;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--accent-color);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 12px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}

#todo-input:focus {
    outline: none;
}

form {
    position: relative;
}

#add-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 12px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}

#add-button:hover {
    background-color: #a8a8a8;
}

#clear-all-button {
    margin-top: 10px;
    background-color: #5c202f;
    color: var(--background);
    padding: 10px 20px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}

#clear-all-button:hover {
    background-color: #852e43;
}

.todo {
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.todo .todo-text {
    padding: 15px 0 15px 15px;
    flex-grow: 1;
    transition: 200ms ease;
}

.delete-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button svg {
    transition: 200ms ease;
}

.delete-button:hover svg {
    fill: #852e43;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
    fill: var(--primary-color);
}

input[type="checkbox"]:checked ~ .todo-text {
    text-decoration: line-through;
    color: var(--secondary-color);
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 500px) {
    html {
        font-size: 12pt;
    }

    #add-button {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.todo.completed {
    animation: fadeOut 0.5s forwards;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: var(--subtext-color);
    padding: 10px 0;
    margin-top: auto;
}